<nav class="navbar navbar-expand-lg bg-white">
  <div class="navbar-header bg-white">\
    <a class="navbar-brand" href="/">
      <%= image_tag(asset_path('logo.png'), :alt => "FoodRadar", :width => 300) %>
    </a>
    </div>
  </div>
</nav>